<div id="login-modal" class="modal">
    <div id="login-content" class=" modal-content">
        <form class="login-form">
            <div>
                <label class="modal-label" for="email-login">email:</label>
                <input type="text" id="email-login" />
            </div>
            <div>
                <label class="modal-label" for="password-login">password:</label>
                <input type="password" id="password-login" />
            </div>
            <div>
                <button id="login-complete" type="submit">login</button>
            </div>
        </form>
    </div>
     <button id="close-login" class="modal-close is-large" aria-label="close"></button>
</div>