<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>STL Happens</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
  <div class="wrapper">
    <header class="navbar is-white">
      <h1 class="navbar-brand navbar-item">
        <a href="/">STL Happens</a>
        <a role="button" id="navBurger" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </h1>
      <nav id="navMenu" class="navbar-menu">
        {{#if loggedIn}}
        <div class="navbar-end">
          <div class="navbar-item">
            <button id="make-post" class="btn">make post</button>
          </div>
          <div class="navbar-item">
            <button id="logout" class="btn">logout</button>
          </div>
        </div>
        {{else}}
        <div class="navbar-end">
          <div class="navbar-item">
            <button id="login" class="btn">login</button>
          </div>
          <div class="navbar-item">
            <button id="sign-up" class="btn">sign up</button>
          </div>
        </div>

        {{/if}}
      </nav>
    </header>
    <main class="columns">

      <!-- TAG SEARCH BUTTONS -->
      <div id="tag-btns" class="column is-one-quarter">

        <h2>Show me posts with this tag:</h2>
        <a href="/tag/Food" class="tag-btn btn">Food and Beverage</a>
        <a href="/tag/Sprt" class="tag-btn btn">Sports</a>
        <a href="/tag/Msc" class="tag-btn btn">Music and Entertainment</a>
        <a href="/tag/Mseum" class="tag-btn btn">Museums and Education</a>
        <a href="/tag/Free" class="tag-btn btn">Free!</a>

        <div id="map-container">
          <div id="map"></div>
        </div>
      </div>
      <!-- WEATHER FORECAST -->
      <div class="column">
        <div id="weather-forecast">
          <h2 id="five-forecast"></h2>
          <div id="five-days"></div>
        </div>

        <div id="main-body">
          {{{ body }}}
        </div>

      </div>
      {{> login-modal}}
      {{> sign-up-modal}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  </div>
  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
  <script src="/javascript/login.js"></script>
  <script src="/javascript/weather.js"></script>
  <script src="/javascript/navbar.js"></script>
  <script src="/javascript/attractions.js"></script>


  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLjOT12pUvtXHOpKkVzECNZKQ-s1xZz0Y&callback=initMap"></script>


  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  <script src="/javascript/make-post.js"></script>
  {{ else }}
  <script src="/javascript/modals.js"></script>
  {{/if}}
</body>

</html>