* { 
    --color-one: #FFFFFF;
    --color-two: #B72126;
    --color-three: #14264B;
    --color-four: #FEE60E;
    --box-sizing: border-box;
}

body, html {
    background-color: var(--color-two);
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: var(--color-one);
    min-height: 100vh;
    min-width: 100vw;

}

a {
    text-decoration: none;
    color: var(--color-one);
    font-weight: bold;
}

a:hover {
    color: var(--color-four);
}

button {
    background-color: var(--color-one);
    border: 0;
    padding: 1%;
    color: var(--color-three);
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
}
  
button:hover {
    background-color: var(--color-four);
    color: var(--color-three);
}

.post-list {
    margin: 0;
    padding: 0;
}

#main-body{
    margin: 10px;
    padding: 5px;
    max-width: 100%;
    max-height: 58vh;
    font-size: 2%;
    overflow: scroll;
}

.title {
    font-size: 50%;

}

textarea {
    min-width: 40%;
    min-height: 100px;
}  

textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
}
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

.navbar {
    color: var(--color-three);
}

.delete-post-btn {
    background-color: #d41414;
}
  
.delete-post-btn:hover {
    background-color: #ff643d;
}
  
.post {
    margin-bottom: 2%;
    line-height: 150%;
}

.tag-btn{
    padding: 5px;
    margin: 5px;
}

main {
    flex: 1;
    padding: 2% 4%;
}

#five-days{
    display: flex;
    justify-content: center;
    align-content: space-around center;
}

#weather-forecast{
    background-color: var(--color-three);
    border-radius: 5px;
}

#tag-btns{
    background-color: var(--color-three);
    color: var(--color-one);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    height: 90vh;
}



.card {
    height: 22vh;
    width: 20%;
    background-color: var(--color-two);
    color: var(--color-one);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 80%;
}
.weather-icon {
    height: 35%;
    width: 50%;
}

.modal{
    max-width: 75vw;
    max-height: 72vh;
    color: var(--color-three);
    margin: 25vh 25vh 25vh 25vh;
    border-radius: 5px;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: var(--color-one);
    opacity: 0.97;
    border: solid 2px var(--color-three);

}

#forecast {
    text-align: center;
}

footer{
    background-color: var(--color-one);
    color: var(--color-three);
    padding: 5px;
    font-weight: bold;

}